
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="/static/assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <!-- animation css -->
    <link rel="stylesheet" href="/static/assets/plugins/animation/css/animate.min.css">
    <!-- vendor css -->
    <link rel="stylesheet" href="/static/assets/css/style.css">
        <!-- StyleSheets  -->
        <link rel="stylesheet" href="/static/assets/css/dashlite.css?ver=2.1.0">
        <link id="skin-default" rel="stylesheet" href="/static/assets/css/theme.css?ver=2.1.0">
    <!-- Specific CSS goes HERE -->
    {% block stylesheets %}{% endblock stylesheets %}
    <title>Stock Predection</title>
  </head>
  <body>

    <nav class="navbar  navbar-expand navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">Stock Predection App</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-1 mb-lg-1">

              <li class="nav-item dropdown">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'stock_index' %}"> Stock Predection</a>
                </li><br>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'bitcoin_index' %}"> Bitcoin Predection</a>
                </li><br>
                <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                  Sentemint
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{% url 'sentemint_index' %}">Text Sentemint</a></li>
                  <li><a class="dropdown-item" href="{% url 'stock_index' %}">URL Predection</a></li>
                  <li><a class="dropdown-item" href="{% url 'tweet_sent_index' %}">Tweet Sentemint</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
          </div>
        </div>
      </nav>
    <div>
      {% block javascripts %}
      <script src="/static/assets/js/bundle.js?ver=2.1.0"></script>
      <script src="/static/assets/js/scripts.js?ver=2.1.0"></script>
      <script src="/static/assets/js/charts/gd-analytics.js?ver=2.1.0"></script>
      <script src="/static/assets/js/libs/jqvmap.js?ver=2.1.0"></script>
      {% endblock javascripts %}

        <br><br>
        {% block content %}

        {% endblock %}
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
  </body>
</html>




