<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bitcoin</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <h1>
        All About {{crypto}}
    </h1>
    <br>

    <div class="container">
        
        <br><br>
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">{{ crypto }}</h4>
            <p>The Predicted Price</p>
            <hr>
            {{ pred }}
          </div>
        <br><br>

    {% endblock %}
</body>
</html>