<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sentemint</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <h1>
        Sentemint
    </h1>

    <br><br>
        <div class='container-fluid'>
        <form action="{% url 'sentemint'%}">
        {% csrf_token %}

        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Past The Text</label>
            <textarea name="text1" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          
          <input class="btn btn-primary" type="submit" value="Submit">


        </form>
        

    {% endblock %}
</body>
</html>