<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Social Reco

    According to the predictions and twitter sentiment analysis -> Investing in %s is a GREAT idea! %
    <br><br>
    According to the predictions and twitter sentiment analysis -> Investing in %s is a BAD idea! %
    <br><br>
    According to the predictions and twitter sentiment analysis -> Investing in %s is a BAD idea!" % str {{symbol}}
    <br><br>
    Retrieving %s related tweets polarity..." % {{symbol}}

</body>
</html>